@import "root.css";


/* HEADER */
.header__image {
    position: absolute;
    right: 0;
    top: 0;
    width: 150px;
    transition: 400ms;
}

@media screen and (min-width: 728px) {
    .header__image {
        width: 250px;
    }
}

@media screen and (min-width: 1280px) {
    .header__image {
        width: 300px;
    }
}


/* MAIN */
.main {
    flex-grow: 1;
    margin-bottom: 50px ;

    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1.5rem;
    max-width: 250px;
    text-align: center;
}

    .main__logo {
        width: 180px;
    }

    .main__subTitle {
        color: var(--azul);
    }

    .main__input {
        display: flex;
        flex-direction: column;
        row-gap: 5px;
    }

    .main__input > label {
        color: var(--cinza-escuro);
    }

    .main__link {
        color: var(--coral);
        text-decoration: underline;
        font-size: 0.8rem;
    }

    .main__link:hover {
        color: var(--coral-claro);
    }

@media screen and (min-width: 768px) {
    .main {
        max-width: 500px;
    }

    .main__image {
        width: 300px;
    }
}

@media screen and (min-width: 1280px) {
    .main {
        margin-bottom: 70px;
    }

    .main__logo {
        visibility: hidden;
    }
}


/* BUTTON */
@media screen and (min-width: 1280px) {
    .button::after {
        content: '!';
    }
}