@import "root.css";


/* BODY */
.body__background {
    background-image: none;
}


/* HEADER */
.header__user {
   size: 40px;
}


/* MAIN */
.main {
    flex-grow: 1;

    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1.5rem;
    text-align: center;
}

    .main__subTitle {
        color: var(--azul);
        width: 250px;
    }

@media screen and (min-width: 768px) {
    .main {
        padding: 30px 50px;
        width: 100%;
    }

    .main__subTitle {
        width: auto;
    }
}


/* PETS */
.pets {
    display: grid;
    gap: 15px;
    width: 100vw;
}

.pet__container {
    background-color: var(--cinza-claro);
    mix-blend-mode: multiply;
    padding: 25px;

    text-align: left;

    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

    .pet__image {
        grid-row: span 2;
        justify-self: right;
    }

    .pet__name {
        font-size: 1rem;
        color: var(--azul);
        font-weight: 600;
    }

    .pet__list {
        list-style-type: none;
        font-size: 0.9rem;
        color: var(--cinza-escuro);
    }

    .pet__location {
        font-size: 0.8rem;
        color: var(--cinza-escuro);
    }

    .pet__contact {
        font-size: 0.7rem;
        color: var(--cinza-escuro);
        transition: 300ms;
    }

        .pet__contact:hover {
            color: var(--verde);
        }

        .pet__contact::before {
            content: url('../img/icone_responsavel.png');
            margin-right: 5px;
            position: relative;
            top: 6px;
        }

@media screen and (min-width: 768px) {
    .pets {
        grid-template-columns: 1fr 1fr;
        width: 100%;
    }
}

@media screen and (min-width: 1280px) {
    .pets {
        grid-template-columns: repeat(3, 1fr);
    }
    
    .pet__container {
        grid-template-columns: auto 1fr;
    }
}