@import "root.css";


/* BODY */
body {
    background-color: var(--azul);
}


/* MAIN */
.main {
    flex-grow: 1;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    row-gap: 1.3rem;
    max-width: 250px;
    text-align: center;
}

    .main__logo {
        width: 180px;
    }

    .main__title {
        font-family: var(--font-second);
        font-size: 1.5rem;
        font-weight: 500;
        color: var(--branco);
    }

    .main__text {
        color: var(--branco);
    }

    .main__image {
        width: 250px;
        margin-bottom: -20px;
        justify-self: baseline;
    }

@media screen and (min-width: 768px) {
    .main {
        max-width: 450px;
    }

    .main__image {
        width: 300px;
    }
}


/* BUTTON */
@media screen and (min-width: 768px) {
    .button {
        width: 360px;
        padding: 0.8rem;
        font-size: 1.1rem;
    }
}