:root {
    /* COLORS */
    --azul: #3772FF;
    --verde: #36D6AD;
    --coral: #FC7071;
    --coral-claro: #f89393;
    --creme: #FCF0E3;
    --cinza-escuro: #737380;
    --cinza: #BCBCBC;
    --cinza-claro: #F6F6F6;
    --branco: #FFFFFF;

    /* FONTS */
    --font-first: 'Poppins', sans-serif;
    --font-second: 'IBM Plex Sans', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}